<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<!-- Database Connection Settings -->
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:3306;databaseName=JWD.L.A101;encrypt=true;trustServerCertificate=true</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password">TranHung1998!@</property>
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.legacy_limit_handler">true</property>

		<!-- Specifying Session Context -->
		<property name="hibernate.current_session_context_class">
			org.hibernate.context.internal.ThreadLocalSessionContext
		</property>
	
	 	<!-- Model Mapping Here -->
	 	<mapping class="entities.Account"/>
	 	<mapping class="entities.Employee"/>

	</session-factory>
</hibernate-configuration>